*{
	margin: 0px;
	padding: 0px;
	background-color: #EFEFEF;
}
h1{
	font-weight:normal;
	
}
main>*{
	margin: 80pt 30%;
}
#introduction p{
	font-size:15pt;
}
.btn{
	border: none;
	background-color: #0185f2;
	width: 60pt;
	height: 25pt;
	border-radius: 5px;
	color:white;
	font-size: 12pt;
}

@keyframes hide{
	from {height: auto;}
	to {height:0px;}
}

@keyframes show{
	from {width: 0px;}
	to {width: 100%;}
}

@keyframes dodge{
	from {background-color: #0185f2;}
	to {background-color: #22ccf2;}
}

main{
	animation: show 1s;
	overflow: hidden;
}

main .btn:hover{
	animation: dodge 1s;
	animation-fill-mode:forwards;
}

.attention{
	font-size: 10pt;
	color:gray;
}

.input{
	width: 80%;
	font-size: 13pt;
	height: 22pt;
	border:none;
	background-color:white;
	border-radius: 5px;
	padding-left:5pt;
}

#givemesome img{
	width: 160pt;
	height: 200pt;
}